body {
    font-family: 'Inter', sans-serif;
    min-width: 375px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    background-color: white;
}

.header-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header-nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.left_side {
    display: flex;
    gap: 225px;
}

.logo img {
    width: 57px;
    height: 64px;
}

.btn-find {
    padding: 12px 10px;
    background-color: #02B000;
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
}

.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #1772B9;
}

.left_nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left_nav ul {
    display: flex;
    gap: 48px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.left_nav ul li {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

.left_nav ul li a {
    text-decoration: none;
    color: #1772B9;
}

#languageSwitcherDesktop, #languageSwitcherMobile {
    background: none;
    border: none;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #1772B9;
    cursor: pointer;
    outline: none;
    padding-right: 14px; /* место для стрелки */
    
    /* кастомная стрелка */
    appearance: none; /* отключаем стандартную */
    -moz-appearance: none;
    -webkit-appearance: none;
    
    background-image: url("data:image/svg+xml;utf8,<svg fill='%231772B9' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  background-color: white;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.mobile-nav a {
    padding: 15px;
    text-decoration: none;
    color: #1772B9;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.custom-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        #1772B9;
    border: none;
}


/* section-start */
section {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -30.01%, rgba(10, 102, 194, 0.15) 122.41%);
}

.who-we-are {
    max-width: 884px;
    /* margin: 100px auto; */
    background: #fff;
    margin: 0px auto;
    text-align: center;
    padding: 10px 110px 70px 110px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    font-family: 'Segoe UI', sans-serif;
    color: #2a2a2a;
}

.who-we-are h2 {
    font-size: 60px;
    font-weight: 400;
    color: #1772B9;
    font-family: 'Dancing Script', cursive;
}

.who-we-are p {
    font-size: 16px;
    color: #1772B9;
    margin: 25px 0;
    line-height: 1.6;
}

.who-we-are .team-image {
    width: 480px;
    height: 200px;
    object-fit: cover;
    margin-top: 15px;
}

.who-we-are .team-names {
    display: flex;
    justify-content: center;
    gap: 55px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.who-we-are .team-names span {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: #1772B9;
    font-weight: 500;
}   


/* footer-start */
.footer {
    background-color: #F1F4F6;
    padding: 10px 15px 3px 15px;
}

.footer-quote {
    text-align: center;
    color: #5D5D5D;
    font-size: 16px;
    font-family: 'Cutive Mono', monospace;
}

.footer-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
}

.footer-icons {
    display: flex;
    gap: 10px;
    margin-right: 37px;

}

.footer-logo {
    width: 33px;
    height: 37px;
}

.footer-linkedin {
    width: 37px;
    height: 37px;
}

.footer-copy {
    font-size: 11px;
    color: #1772B9;
    margin-right: 22px;
}