body {
    font-family: 'Inter', sans-serif;
    min-width: 320px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    background-color: white;
}

.header-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header-nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.left_side {
    display: flex;
    gap: 225px;
}

.logo img {
    width: 57px;
    height: 64px;
}

.btn-find {
    padding: 12px 10px;
    background-color: #02B000;
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
}

.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #1772B9;
}

.left_nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left_nav ul {
    display: flex;
    gap: 48px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.left_nav ul li {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

.left_nav ul li a {
    text-decoration: none;
    color: #1772B9;
}

.mobile-nav {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mobile-nav a {
    padding: 15px;
    text-decoration: none;
    color: #1772B9;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.custom-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        #1772B9;
    border: none;
}

/* section-start */

/* Maps Section */
.maps-section {
    margin: 30px auto;
    padding: 0 20px;
}

.maps-title {
    text-align: center;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    color: #1772B9;
    font-weight: normal;
}

.maps-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.map-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-line-2 {
    width: 30%;
    height: 1.5px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #1772B9;
    margin: 15px auto 20px auto;
    border: none;
}

.iframe-google-maps {
    width: 1200px;
    height: 500px;
    border: none;
    border-radius: 8px;
}

.links-section {
    margin: 40px auto 80px;
    padding: 0 20px;
}

.links-title {
    text-align: center;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    color: #1772B9;
    font-weight: normal;
}

.custom-line-3 {
    width: 30%;
    height: 1.5px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #1772B9;
    margin: 20px auto 45px auto;
    border: none;
}

.links-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 30px;
}

.links-grid a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #1772B9;
    padding: 10px 0;
    border-bottom: 2px solid #bdc2bd6d;
    transition: color 0.3s, border-color 0.3s;
}

.links-grid a:hover {
    color: #125a8c;
    border-color: #1772B9;
}


/* footer-start */
.footer {
    background-color: #F1F4F6;
    padding: 10px 15px 3px 15px;
}

.footer-quote {
    text-align: center;
    color: #5D5D5D;
    font-size: 16px;
    font-family: 'Cutive Mono', monospace;
}

.footer-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
}

.footer-icons {
    display: flex;
    gap: 10px;
    margin-right: 37px;

}

.footer-logo {
    width: 33px;
    height: 37px;
}

.footer-linkedin {
    width: 37px;
    height: 37px;
}

.footer-copy {
    font-size: 11px;
    color: #1772B9;
    margin-right: 22px;
}