@media (max-width: 1200px) {
    .samarkand-banner-bottom img {
        height: 300px;
    }

    .title-kohna-meros {
        font-size: 50px;
    }

    .modelviewer {
        width: 880px;
        height: 400px;
    }

    .more_btn {
        padding: 15px 40px;
        font-size: 13px;
    }

    .custom-line {
        height: 1px;
        margin: 30px auto 60px auto;
    }
}

@media (max-width: 992px) {
    .title-kohna-meros {
        font-size: 45px;
        margin-top: 10px;
    }

    .title-kohna-meros::after {
        margin-top: 10px;
    }

    .modelviewer {
        width: 720px;
        height: 350px;
        margin-bottom: 20px;
    }

    .arch-bukh {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {

    .left_nav {
        left: 43% !important;
    }

    .title-kohna-meros {
        font-size: 40px;
    }

    .title-kohna-meros::after {
        width: 450px;
        height: 1.5px;
    }

    .modelviewer {
        width: 420px;
        height: 250px;
        margin-bottom: 20px;
    }

    .arch-bukh {
        font-size: 27px;
    }

    .more_btn {
        padding: 12px 30px;
        font-size: 11px;
    }

    .custom-line {
        margin: 20px auto 40px auto;
    }

    .custom-line-2 {
        height: 1.5px;
    }

}

@media (max-width: 480px) {

    .samarkand-banner-bottom img {
        height: 220px;
    }

    .title-kohna-meros {
        font-size: 35px;
        margin-top: 5px;
    }

    .title-kohna-meros::after {
        width: 300px;
        margin-top: 5px;
    }

    .modelviewer {
        width: 330px;
        height: 200px;
    }

    .arch-bukh {
        font-size: 24px;
    }
}

@media (max-width: 320px) {

    .samarkand-banner-bottom img {
        height: 175px;
    }

    .title-kohna-meros {
        font-size: 32px;
    }

    .modelviewer {
        width: 290px;
        height: 200px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .arch-bukh {
        font-size: 20px;
    }

    .more_btn {
        padding: 10px 20px;
        font-size: 9px;
    }

    .custom-line {
        margin: 15px auto 30px auto;
    }
}